body {
  background-color: #f7f7f7;
  color: #333;
}

.container {
  margin-top: 3em;
}

#profileImage {
  width: 100%;
  height: auto;
}

.subtitle, .title {
  font-family: Helvetica sans-serif;
  font-weight: bold;
  color: #333;
}

.title {
  font-size: 20px;
}

.subtitle {
  font-size: 16px;
}

#intro {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

#intro #my-image {
  width: 40%;
  height: auto;
}

.posts {
  margin-bottom: 2em;
  display: block;
  height: auto;
}

.posts img {
  width: 100%;
}
.posts .post {
  display: flex;
  flex-wrap: wrap;
  width: 31.333%;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.7);
  height: auto;
  margin-right: 1em;
  margin-bottom: 1em;
}
.posts .post:last-child {
  margin-right: 0;
}
.posts .post-content {
  padding: 1em;
}
.posts .post-footer {
  text-align: center;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.post-detail {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.post-detail img {
  margin-bottom: 2em;
}
.post-detail p {
  text-align: justify;
}

.hbtn-first, .hbtn {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.hbtn-first {
  border: 1px solid #333;
  background-color: #f7f7f7;
  color: #333;
}

.hbtn-first:hover {
  background-color: #333;
  color: #fff;
  transition: all ease-in 0.3s;
}

.pagination-section {
  display: block;
  float: left;
}