/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.post{
		width: 100% !important;
	}
	.list-item{
		color: #675656;
	}
	.title{
		font-size: 2.4rem;
	}
	.hbtn-first{
		box-shadow: 1px 1px rgba(0,0,0,.7)
	}

	li[class="main"]{
		font-weight: 800;
	}
	li[class="main"] > ul{
		font-weight: normal;
		border-bottom: 0;
	}

	#contact-box > .row > .col-md-6:first-child{
		border-bottom: 1px solid #ddd;
		margin: 1em 0;
	}

	.post-detail{
		width: 100%;
		padding: 2em 0.3em;
		margin: 0; 
	}
	.post-detail img{
		width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.posts .post{
		width: 100%;
	}

	.posts .post .post-image{
		width: 100%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.posts .post{
		width: 100%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.posts .post{
		width: 31.333%;
	}
}