$bgColor: #f7f7f7;
$primaryFont: Helvetica sans-serif;
$primaryColor: #333;
$borders: rgba(0,0,0,.7);

body{
	background-color: $bgColor;
	color: $primaryColor;
}

.container{
	margin-top: 3em;
}

#profileImage {
  width: 100%;
  height: auto;
}

%headings{
	font-family: $primaryFont;
	font-weight: bold;
	color: $primaryColor;
}

.title{
	@extend %headings;
	font-size:20px;
}

.subtitle{
	@extend %headings;
	font-size: 16px;
}


#intro{
	display: block;
	width: 100%;
	height: auto;
	text-align:center;
}

#intro{
	#my-image{
		width: 40%;
		height: auto;
	}
}

.posts{
	margin-bottom: 2em;
	display: block;
	height: auto;
}

.posts {
	img{
		width: 100%;
	}
	.post{
		display: flex;
		flex-wrap: wrap;
		width: 31.333%;
		float: left;
		border: 1px solid $borders;
		height: auto;
		margin-right: 1em;
		margin-bottom: 1em;
	}

	.post:last-child{
		margin-right: 0;
	}

	.post-content{
		padding: 1em;
	}

	.post-footer{
		text-align: center;
		width: 100%;
		height: auto;
		padding-bottom: 10px;
	}
}

.post-detail{
	text-align: center;
	width: 80%;
	margin-left: 10%;
}

.post-detail{
	img{
		margin-bottom: 2em;
	}
	p{
		text-align: justify
	}
}

%button{
	width: 80px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}

.hbtn{
	@extend %button;
}

.hbtn-first{
	@extend %button;
	border: 1px solid $primaryColor;
	background-color: $bgColor;
	color: $primaryColor;
}

.hbtn-first:hover{
	background-color: $primaryColor;
	color: #fff;
	transition: all ease-in 0.3s
}

.pagination-section{
	display: block;
	float: left;
}